<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="wizemart is a website that provides a better search experience for shoppers, by delivering 
    better recommendations and sorting to ensure a customer is getting the best bang for bucks.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome.min.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'navbar.css')}}">


    {% if title %}
    <title>wizemart:-{{title}}</title>
    {% else%}
    <title>wizemart </title>
    {% endif%}
</head>

<body>
<!-- navbar here -->
<header class="header">
    <!-- <div class="max-width""> -->
    <div class="navb">

            <div class="logo">
                <img class="nav-logo" alt="Wizemart" src="{{url_for('static', filename='wizemart_logo.png')}}">
            </div>
            <div class='web-name'>
            <a href="/">wizemart</a></div>
    </div>
    
    <div class="search-wrapper">
        <form action="#" method="POST">
            <input type="text" name="sch" placeholder="Find your product at the best price">
            <button class="search" action="">
                <img alt="Search" src="{{url_for('static', filename='search.png')}}" width="20px" height="20px">
            </button>
        </form>
    </div>

    <div class="navbar">
        <div>
            <div class="menu-icon" onclick="expand_sidebar()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    
    <div id="sidebar">
        <button class="close" onclick="collapse_sidebar()">&times;</button>
        <div class="items">
            <a href="/">Become a Seller</a>
            <a href="#">About Us</a>
            
            <a href="#">Privacy-Policy</a>
        </div>
    </div>

</header>





    {%block content%}
    {%endblock content%}


<!-- <section class="side" id="side">
    {%block side%}

    {%endblock side%}
</section> -->
    <script src="{{ url_for('static', filename='main.js') }}" media="screen and (min-width: 480px)"></script>
</body>

</html>